/* styles.css or your.component.css */
.custom-padding {
    padding-left: 80px;
    padding-top: 20px;
  }
  /* styles.css or your.component.css */
.custom-button {
    background-color: #00B7C3;
    color: #FFF;
    /* Add any other custom styles if needed */
  }
  .dialog-footer{
    margin-left: 420px; 
    padding-top: 30px;
    
  }
  .table_nrml{
    
    margin-top: 30px;

  }
 
 